* body {
    background-color: #181818;
    color: white;
    font-family: 'Arial', sans-serif;
}
.logo{
    margin-left: 200px;
}
li:hover{
    color: orange;
}
li{
    margin-right: 50px;
}
.icon{
    margin: auto;
    margin-right: 100px;
}
.nav-ign{
    gap: 30px;
}
.title-01{
    color: orange;
}
.btn{
    color: white;
    background-color: rgb(31, 192, 233);
    width: 120px;
}
.bar-munu{
    margin-right: 350px;
}
.bar-text-colour{
    color: white;
    font-size: 20px;
}
.social-icons-colour i{
    color: aqua;
    
    gap: 50px;
    font-size: 20px;
}
.profile-title {
    color: #00BFFF;
    font-size: 3rem;
}
.profile-des {
    color: white;
}
.social-icons-colour a {
    color: white;
    margin-right: 20px;
}
.social-icons-colour  {
    color: #00BFFF;
}
.social-icons-colour .btn {
    background-color: #00BFFF;
}
.portfolio-border {
    background-color: #131111;
    padding: 20px;
    border-radius: 10px;
    border: 1px white;
}
.portfolio-des {
    color: #fffefe;
}
.profio-colour{
    color: aqua;
}
.skills i {
    font-size: 40px;
    margin: 20px;
    color: #00BFFF;
}
@media (max-width: 768px) {
    .profile-title {
        font-size: 2rem;
    }
    .profile-des {
        font-size: 1rem;
    }
    .portfolio-border {
        flex-direction: column;
        align-items: center;
    }
}



.badge {
    background-color: gray;
    font-size: 14px;
    margin: 5px;
    padding: 8px 12px;
}
h2, h3, h4 {
    color: #f4f7f8;
}
.education-title {
    color: aqua;
    font-size: 40px;
}

.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #000;
}
.footer-des{
    font-size: small;
}
.footer a {
    color: #00BFFF;
    margin: 0 10px;
}
.footer a:hover {
    color: white;
}
.social-icons a {
    color: #00BFFF;
    font-size: 25px;
    margin: 0 10px;
}
.social-icons a:hover {
    color: white;
}


.edu-sec{
    margin-top: 250px;
}
.contact-us{
    padding: 50px;
    width: 500px;
    margin: auto;
    box-shadow: 4px 4px 4px grey;
    margin-top: 50px;
    text-align: center;

}
.input-box{
    padding: 10px;
    width: 50%;
    margin-top: 10px;
    color: #888;
    background-color: black;
    box-shadow: 4px 4px 4px grey;
    border: none;
}
.massage{
    width: 60%;
    height: 100px;
    margin-top: 10px;
    color: #888;
    background-color: black;
    box-shadow: 4px 4px 4px grey;
    border: none;
}
.submit-btn{
    width: 75%;
    padding: 15px;
    background-color: grey;
    color: aqua;
    border: none;
}

@media screen and (max-width: 768px) {
    .contact-us {
        padding: 20px;
        box-shadow: none;
    }

    .input-box, .massage, .submit-btn {
        width: 50%;
    }
}

@media screen and (max-width: 320px) {
    .contact-us {
        margin-top: 20px;
        margin-right: 100px;

    }

    .input-box, .massage {
        font-size: 14px;
    }

    .submit-btn {
        font-size: 16px;
    }
}